.stepper{
    max-width: 100%;
    margin: 10vw;
}
.step-header{
    text-align: center;
}
.step-form{
    display: flex;
    flex-direction: column;
}
.progress-ex{
    color: burlywood;
    text-align: center;
}
.spinner{
    text-align: center;
    margin: 10vw 0vw 5vw 30vw;
    display: flex;
    flex-direction: column;
}
.p{
margin-top: 10vw;
}