

<section class="stepper">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="first">
          <ng-template matStepLabel>Start</ng-template>  
        <mat-card class="step-header">
            <mat-card-header >
              Select your training exercise
            </mat-card-header>
            <mat-card-content>
              <form  class="step-form" [formGroup]="exerciseform" (ngSubmit)="submitexercise(exerciseform)">
                <mat-form-field>
                    <mat-select placeholder="Select Exercise" formControlName="selection" >
                      <mat-option>-- None --</mat-option>
                      <mat-option *ngFor ="let ex of exercise" value="">{{ex}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button matStepperNext type="submit" color="accent">Start</button>
                </form>
            </mat-card-content>
          </mat-card>
      </mat-step>
      <section *ngIf="progress">
      <mat-step [stepControl]="secondFormGroup" >
        <ng-template matStepLabel>Progress</ng-template>
        <div class="progress-ex">
          <h2>{{startExercise}}</h2>
        <section class="spinner">
          <mat-progress-spinner color="accent"  mode="determinate" [value]="starting"> </mat-progress-spinner>
          <p>{{progressNote}} {{starting}}%</p>
        </section>
        
          <button mat-raised-button (click)="stopProgress()" color="accent">Stop</button>
        </div>
      </mat-step>
    </section>
      <mat-step *ngIf="progress">
        <ng-template matStepLabel>Done</ng-template>
        You are now done with {{startExercise}}.
        <div>
          <button mat-button (click)="stepper.reset()">Repeat</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</section>  