
<div class="login-form">
  <h2 class="jumbotron">Login Form</h2>
  <form class="form-login"  [formGroup]="userlogin" (ngSubmit)="loginform(userlogin)">
  <mat-form-field>
    <input matInput placeholder="Enter your username" formControlName="userId" required>
    <mat-error >Username is required</mat-error>
  </mat-form-field>
  <mat-form-field >
      <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>Password is required</mat-error>
  </mat-form-field>
  <button mat-button type="submit" [disabled]=userlogin.invalid>Submit</button>
  <button mat-raised-button color="primary" (click)="signup()" >New User?</button>
</form>
</div>
