<div class="signup">
  <h2 class="jumbotron">SignUp Form</h2>
  <form class="signup-form" [formGroup]="signupform" (ngSubmit)="signup(signupform)" >
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="signupform.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter Username" formControlName="username" required>
      <mat-error>Enter Username</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>Password is required</mat-error>
  </mat-form-field>
  <mat-form-field >
    <input matInput [matDatepicker]="picker" [max]="maxdate" formControlName="date" placeholder="Choose your birthdate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
    <mat-error *ngIf="checkdate">{{getAgeErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="agree">Agree to Terms and Conditions</mat-checkbox>
    <button mat-raised-button type="submit" [disabled]="signupform.invalid">Submit</button>
  </form>
</div>